@model DoctorModel.Doctor

@{
    ViewBag.Title = "Details_44";
}

<h2>Details_44</h2>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Employee</legend>
    @*@Html.Display("Doctordata")*@
    @Html.DisplayFor(model => model)
</fieldset>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
